.blog-page {
    width: calc(100% - 100px);
    position: initial;
    height: 100%;
    overflow: auto;

    .headline {
      margin-bottom: 40px;
    }

    .page-title {
      padding-left: 50px;
      margin-top: 60px;
    }

    .page-intro {
      font-size: 15px;
      padding-left: 50px;
      font-style: italic;
      margin-top: 10px;
    }

    .post-list {
      margin-top: 10px;
      padding-left: 20px;
    }

    .post {
      border-bottom: 1px solid #ddd;
      padding: 20px 0;
      font-size: 12px;
    }

    .post__heading {
      font-size: 12px;
    }

    .post__content {
      display: flex;
      justify-content: space-between;
    }

    .post__content a {
      text-decoration: none;
      color: inherit;
      font-size: 17px;
    }

    .post__content time {
      color: #777;
    }
  }